* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}

p{
    font-weight: 700;
    font-style: normal;
    font-size: 27px;
    letter-spacing: -.02em;
    text-transform: none;
    line-height: 1.5em;
    color: #5c67ad;
}

a{
    color: #263387;
    text-decoration: none;
    text-shadow: 0.03em 0 #fff, -0.03em 0 #fff, 0 0.03em #fff, 0 -0.03em #fff, 0.06em 0 #fff, -0.06em 0 #fff, 0.09em 0 #fff, -0.09em 0 #fff, 0.12em 0 #fff, -0.12em 0 #fff, 0.15em 0 #fff, -0.15em 0 #fff;
    background-image: linear-gradient(#fff,#fff),linear-gradient(#fff,#fff),linear-gradient(#263387,#263387);
    background-size: 0.05em 1px,0.05em 1px,1px 1px;
    background-repeat: no-repeat,no-repeat,repeat-x;
    background-position: 0% 90%,100% 90%,0% 90%;
}

a:hover{
    background-color: #f5d30f;
    color: #263387;
    text-decoration: none;
    text-shadow: 0.03em 0 #f5d30f, -0.03em 0 #f5d30f, 0 0.03em #f5d30f, 0 -0.03em #f5d30f, 0.06em 0 #f5d30f, -0.06em 0 #f5d30f, 0.09em 0 #f5d30f, -0.09em 0 #f5d30f, 0.12em 0 #f5d30f, -0.12em 0 #f5d30f, 0.15em 0 #f5d30f, -0.15em 0 #f5d30f;
    background-image: linear-gradient(#f5d30f,#f5d30f),linear-gradient(#f5d30f,#f5d30f),linear-gradient(#263387,#263387);
    background-size: 0.05em 1px,0.05em 1px,1px 1px;
    background-repeat: no-repeat,no-repeat,repeat-x;
    background-position: 0% 90%,100% 90%,0% 90%;
    box-shadow: 0.06em 0 0 0.06em #f5d30f, -0.06em 0 0 0.06em #f5d30f;
    cursor: pointer;
}

main{
    position: absolute;
    width:50vw;
    left: 50vw;
    padding: 3vw;
}

section{
    text-align: center;
    margin: auto;
    max-width: 500px;
}

article{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

nav{
    position: fixed;
    z-index: 3;
    right: 5%;
    top: 5%;
}

span{
    color: #fff;
    text-decoration: none;
    text-shadow: 0.03em 0 rgb(0 96 206 / 95%), -0.03em 0 rgb(0 96 206 / 95%), 0 0.03em rgb(0 96 206 / 95%), 0 -0.03em rgb(0 96 206 / 95%), 0.06em 0 rgb(0 96 206 / 95%), -0.06em 0 rgb(0 96 206 / 95%), 0.09em 0 rgb(0 96 206 / 95%), -0.09em 0 rgb(0 96 206 / 95%), 0.12em 0 rgb(0 96 206 / 95%), -0.12em 0 rgb(0 96 206 / 95%), 0.15em 0 rgb(0 96 206 / 95%), -0.15em 0 rgb(0 96 206 / 95%);
    background-image: linear-gradient(rgba(0,96,206,.95),rgba(0,96,206,.95)),linear-gradient(rgba(0,96,206,.95),rgba(0,96,206,.95)),linear-gradient(#fff,#fff);
    background-size: 0.05em 3px,0.05em 3px,1px 3px;
    background-repeat: no-repeat,no-repeat,repeat-x;
    background-position: 0% 90%,100% 90%,0% 90%;
}